@import "tailwindcss";

:root {
  --background: #000;
  --foreground: black;
}

body {
  background: var(--background);
  color: white !important;
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbars beautifully */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button,
a {
  cursor: pointer;
}

.cod {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  letter-spacing: -30px;
  font-size: 45vw;
  pointer-events: none;
  user-select: none;
  color: rgba(100, 100, 100, 0.5);
  font-family: "Oswald";
  z-index: -2;
}